<a href="https://colab.research.google.com/github/avijitdeb2023/Data-Science/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 2**

# **Question 1**

In [8]:
name = input("Enter Name:")
age = input("Enter age:")
favorite_color = input("Enter favourite color:")

txt= (f"I am {name}. I am {age} years old. My favourite is {favorite_color}")
print(txt)

Enter Name:Avijit Deb Nath
Enter age:25
Enter favourite color:Blue
I am Avijit Deb Nath. I am 25 years old. My favourite is Blue

# **Question 2**

In [9]:
a=10
b="Hello"
c= 10.5
d= True
e=[1,2,3]
f= (4,5,6)
g={"x": 1, "y": 2}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

# **Question 3**

In [10]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area:", area)
print("Perimeter:", perimeter)

Area: 35
Perimeter: 24

# **Question 4**

In [13]:
foods = ["Biryani", "Panta Bhat", "Hilsha Fry", "Kacchi", "Fuchka"]

print("First food:", foods[0])
print("Last food:", foods[-1])

First food: Biryani
Last food: Fuchka

# **Question 5**

In [16]:
numbers = [10, 3, 7, 1, 9]

numbers.append(5)
print("Updated numbers", numbers)
numbers.remove(3)
print("Updated numbers", numbers)
numbers.sort()

print("Final numbers:", numbers)

Updated numbers [10, 3, 7, 1, 9, 5]
Updated numbers [10, 7, 1, 9, 5]
Final numbers: [1, 5, 7, 9, 10]

# **Question 6**

In [17]:
my_info = {
    "name": "Avijit",
    "age": 25,
    "country": "Bangladesh",
    "study": "Mathematics"
}

print(my_info)

{'name': 'Avijit', 'age': 25, 'country': 'Bangladesh', 'study': 'Mathematics'}

# **Question 7**

In [19]:
dhaka_coordinates = (23.8103, 90.4125)
print("Dhaka Coordinates:", dhaka_coordinates)

Dhaka Coordinates: (23.8103, 90.4125)

# **Question 8**

In [20]:
set1 = {"red", "green", "blue"}
set2 = {"yellow", "blue", "black"}
union= set1 | set2
intersection= set1 & set2
print(union)
print(intersection)

{'yellow', 'blue', 'red', 'black', 'green'}
{'blue'}

# **Question 9**

In [21]:
a=("Bangladesh")
print("First Character:",a[0])
print("Last Character:", a[-1])

First Character: B
Last Character: h

# **Question 10**

In [24]:
def uppercase(text):
    print(text.upper())

uppercase("python programming")

PYTHON PROGRAMMING