<a href="https://colab.research.google.com/github/avijitdeb2023/Data-Science/blob/main/Python_basics_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [ ]:
# Creating variables - it's like putting labels on boxes!
name = "Alice"           # String variable
NAME= 'Bob'
age = 25                 # Integer variable
height = 5.6             # Float variable
is_student = True       # Boolean variable

# Printing variables
print("Name:", NAME)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: Bob
Age: 25
Height: 5.6
Is Student: True

In [ ]:
print("Original age:", age)

age = age + 1  # or age += 1
print("After birthday:", age)

age += 1  # or age = age + 1
print("After birthday:", age)

# Multiple assignment
x, y, z = 10, 20, 30
print(f"x={x}, y={y}, z={z}")

Original age: 33
After birthday: 34
After birthday: 33
x=10, y=20, z=30

# **Data Types**

In [ ]:
# Integer (int) - whole numbers
students_count = 30
temperature = -5

print("Students count:", students_count, "Type:", type(students_count))
print("Temperature:", temperature, "Type:", type(temperature))

Students count: 30 Type: <class 'int'>
Temperature: -5 Type: <class 'int'>

In [ ]:
# Float - decimal numbers
price = 99.99
pi = 3.14159

print("Price:", price, "Type:", type(price))
print("Pi:", pi, "Type:", type(pi))

Price: 99.99 Type: <class 'float'>
Pi: 3.14159 Type: <class 'float'>

In [ ]:
# String (str) - text
greeting = "Hello, World!"
single_char = 'Aasdsad,'
multi_line = """This is a
multi-line
string
String
"""

print("Greeting:", greeting, "Type:", type(greeting))
print("Single char:", single_char, "Type:", type(single_char))
print("Multi-line:")
print(multi_line)

Greeting: Hello, World! Type: <class 'str'>
Single char: Aasdsad, Type: <class 'str'>
Multi-line:
This is a
multi-line
string
String

In [ ]:
# Boolean (bool) - True or False
is_raining = True
is_sunny = False

print("Is raining:", is_raining, "Type:", type(is_raining))
print("Is sunny:", is_sunny, "Type:", type(is_sunny))

# Boolean from comparisons
result = 3 > 3
print("3 > 3 is:", result, "Type:", type(result))
result = 5>2
print("5 > 2 is:", result, "Type:", type(result) )

Is raining: True Type: <class 'bool'>
Is sunny: False Type: <class 'bool'>
3 > 3 is: False Type: <class 'bool'>
5 > 2 is: True Type: <class 'bool'>

# **Dynamic Types**

In [ ]:
# Dynamic typing example
my_variable = 42                    # Integer
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = "Now I'm a string!"   # String
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = 3.14                  # Float
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = True                  # Boolean
print("Value:", my_variable, "Type:", type(my_variable))

Value: 42 Type: <class 'int'>
Value: Now I'm a string! Type: <class 'str'>
Value: 3.14 Type: <class 'float'>
Value: True Type: <class 'bool'>

In [ ]:
# Type conversion (casting)
number_as_string = "123"
actual_number = int(number_as_string)

print("Original:", number_as_string, "Type:", type(number_as_string))
print("Converted:", actual_number, "Type:", type(actual_number))

# More examples
float_to_int = int(3.8)      # 3 (truncates decimal)
int_to_float = float(5)      # 5.0
number_to_string = str(42)   # "42"

print(f"float_to_int: {float_to_int}")
print(f"int_to_float: {int_to_float}")
print(f"number_to_string: '{number_to_string}'")

Original: 123 Type: <class 'str'>
Converted: 123 Type: <class 'int'>
float_to_int: 3
int_to_float: 5.0
number_to_string: '42'

# **Comparison/Rational/Conditional Operators**

In [ ]:
# Comparison operators examples
a = 10
b = 20

print(f"a = {a}, b = {b}")
print(f"a == b: {a==b}")   # Equal to
print("a != b:",a != b)   # Not equal to
print(f"a > b: {a > b}")     # Greater than
print(f"a < b: {a < b}")     # Less than
print(f"a >= b: {a >= b}")   # Greater than or equal
print(f"a <= b: {a <= b}")   # Less than or equal

a = 10, b = 20
a == b: False
a != b: True
a > b: False
a < b: True
a >= b: False
a <= b: True

In [5]:
# Comparing different data types
name1 = "Alice"
name2 = "Bob"
age1 = 25
age2 = 25

print(f"'{name1}' == '{name2}': {name1 == name2}")
print(f"'{name1}' < '{name2}': {name1 < name2}")  # Alphabetical order
print(f"{age1} == {age2}: {age1 == age2}")

# Be careful with types!
print(f"5 == '5': {5 == '5'}")     # False - different types
print(f"5 == int('5'): {5 == int('5')}")  # True - same type after conversion

'Alice' == 'Bob': False
'Alice' < 'Bob': True
25 == 25: True
5 == '5': False
5 == int('5'): True

# **Logical Operations**

In [6]:
# Logical operators examples
print("=== AND operator ===")
print(f"True and True: {True and True}")
print(f"True and False: {True and False}")
print(f"False and False: {False and False}")

print("\n=== OR operator ===")
print(f"True or True: {(True or True)}")
print(f"True or False: {True or False}")
print(f"False or False: {False or False}")

print("\n=== NOT operator ===")
print(f"not True: {not True}")
print(f"not False: {not False}")

=== AND operator ===
True and True: True
True and False: False
False and False: False

=== OR operator ===
True or True: True
True or False: True
False or False: False

=== NOT operator ===
not True: False
not False: True

In [10]:
#Real world examples with logical operators
age = 22
has_license = True
has_car = False

# Can drive? (age >= 18 AND has license)
can_drive = age >= 18 and has_license
print(f"Can drive: {can_drive}")

# Can go on road trip? (can drive AND has car)
can_road_trip = can_drive and has_car
print(f"Can go on road trip: {can_road_trip}")

# Needs transportation? (NOT has car)
needs_transportation = not has_car
print(f"Needs transportation: {needs_transportation}")

Can drive: True
Can go on road trip: False
Needs transportation: True

# **If Statements**

In [12]:
# Simple if statement
temperature = 25

if temperature < 20:
    print("It's warm outside!")
    print("Perfect weather for a walk.")
    print("Don't Talk")
print("This line always executes.")

This line always executes.

In [20]:
# if-else statement
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
    print("You can vote!")
else:
    print("You are a minor.")
    years_left = 18 - age
    print(f"You can vote in {years_left} year(s).")

Enter your age: 20
You are an adult.
You can vote!

In [21]:
# if-elif-else statement
score = int(input("Score"))

if score >= 90:
    grade = "A"
    message = "Excellent!"
elif score >= 80:
    grade = "B"
    message = "Good job!"
elif score >= 70:
    grade = "C"
    message = "Fair."
elif score >= 60:
    grade = "D"
    message = "Needs improvement."
else:
    grade = "F"
    message = "Please study harder."

print(f"Score: {score}")
print(f"Grade: {grade}")
print(f"Message: {message}")

Score77
Score: 77
Grade: C
Message: Fair.

In [29]:
## Take inputs from the user
weather = input("Enter weather (sunny/rainy/cloudy): ").strip().lower()
temperature = float(input("Enter temperature in °C: "))

# Input boolean value
umbrella_input = input("Do you have an umbrella? (True/False): ").strip().lower()

# Convert string → boolean
if umbrella_input == "true":
    has_umbrella = True
else:
    has_umbrella = False

# Multiple conditions
if weather == "sunny" and temperature > 20:
    print("Perfect day for outdoor activities!")
elif weather == "rainy" and has_umbrella:
    print("You can still go out with your umbrella.")
elif weather == "rainy" and not has_umbrella:
    print("Better stay indoors or get an umbrella.")
else:
    print("Check the weather and dress appropriately.")

Enter weather (sunny/rainy/cloudy): SUNNY
Enter temperature in °C: 27
Do you have an umbrella? (True/False): TRUE
Perfect day for outdoor activities!

In [33]:
a, b, c = map(float, input("Enter a, b, c separated by space: ").split())

if a > 20:
    if b < 30:
        print("here")
    elif b > 30:
        print("here2")
else:
    print("a is not greater than 20")

Enter a, b, c separated by space: 50 35 35
here2