<a href="https://colab.research.google.com/github/avijitdeb2023/Data-Science/blob/main/Python_basics_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [1]:
# Creating variables - it's like putting labels on boxes!
name = "Alice"           # String variable
NAME= 'Bob'
age = 25                 # Integer variable
height = 5.6             # Float variable
is_student = True       # Boolean variable

# Printing variables
print("Name:", NAME)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: Bob
Age: 25
Height: 5.6
Is Student: True

In [7]:
print("Original age:", age)

age = age + 1  # or age += 1
print("After birthday:", age)

age += 1  # or age = age + 1
print("After birthday:", age)

# Multiple assignment
x, y, z = 10, 20, 30
print(f"x={x}, y={y}, z={z}")

Original age: 33
After birthday: 34
After birthday: 33
x=10, y=20, z=30

# **Data Types**

In [8]:
# Integer (int) - whole numbers
students_count = 30
temperature = -5

print("Students count:", students_count, "Type:", type(students_count))
print("Temperature:", temperature, "Type:", type(temperature))

Students count: 30 Type: <class 'int'>
Temperature: -5 Type: <class 'int'>

In [9]:
# Float - decimal numbers
price = 99.99
pi = 3.14159

print("Price:", price, "Type:", type(price))
print("Pi:", pi, "Type:", type(pi))

Price: 99.99 Type: <class 'float'>
Pi: 3.14159 Type: <class 'float'>

In [11]:
# String (str) - text
greeting = "Hello, World!"
single_char = 'Aasdsad,'
multi_line = """This is a
multi-line
string
String
"""

print("Greeting:", greeting, "Type:", type(greeting))
print("Single char:", single_char, "Type:", type(single_char))
print("Multi-line:")
print(multi_line)

Greeting: Hello, World! Type: <class 'str'>
Single char: Aasdsad, Type: <class 'str'>
Multi-line:
This is a
multi-line
string
String

In [20]:
# Boolean (bool) - True or False
is_raining = True
is_sunny = False

print("Is raining:", is_raining, "Type:", type(is_raining))
print("Is sunny:", is_sunny, "Type:", type(is_sunny))

# Boolean from comparisons
result = 3 > 3
print("3 > 3 is:", result, "Type:", type(result))
result = 5>2
print("5 > 2 is:", result, "Type:", type(result) )

Is raining: True Type: <class 'bool'>
Is sunny: False Type: <class 'bool'>
3 > 3 is: False Type: <class 'bool'>
5 > 2 is: True Type: <class 'bool'>

# **Dynamic Types**

In [21]:
# Dynamic typing example
my_variable = 42                    # Integer
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = "Now I'm a string!"   # String
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = 3.14                  # Float
print("Value:", my_variable, "Type:", type(my_variable))

my_variable = True                  # Boolean
print("Value:", my_variable, "Type:", type(my_variable))

Value: 42 Type: <class 'int'>
Value: Now I'm a string! Type: <class 'str'>
Value: 3.14 Type: <class 'float'>
Value: True Type: <class 'bool'>

In [ ]:
# Type conversion (casting)
number_as_string = "123"
actual_number = int(number_as_string)

print("Original:", number_as_string, "Type:", type(number_as_string))
print("Converted:", actual_number, "Type:", type(actual_number))

# More examples
float_to_int = int(3.8)      # 3 (truncates decimal)
int_to_float = float(5)      # 5.0
number_to_string = str(42)   # "42"

print(f"float_to_int: {float_to_int}")
print(f"int_to_float: {int_to_float}")
print(f"number_to_string: '{number_to_string}'")

Original: 123 Type: <class 'str'>
Converted: 123 Type: <class 'int'>
float_to_int: 3
int_to_float: 5.0
number_to_string: '42'

# **Comparison/Rational/Conditional Operators**

In [23]:
# Comparison operators examples
a = 10
b = 20

print(f"a = {a}, b = {b}")
print(f"a == b: {a==b}")   # Equal to
print("a != b:",a != b)   # Not equal to
print(f"a > b: {a > b}")     # Greater than
print(f"a < b: {a < b}")     # Less than
print(f"a >= b: {a >= b}")   # Greater than or equal
print(f"a <= b: {a <= b}")   # Less than or equal

a = 10, b = 20
a == b: False
a != b: True
a > b: False
a < b: True
a >= b: False
a <= b: True